# elm
elm-stuff

# haskell
.stack-work

# node
node_modules
npm-debug.log

# lib
codemirror
lib/public/codemirror.js
lib/public/codemirror.css
lib/public/ambiance.css

# build
lib/scaffold/showit-runtime.js

# mac
.DS_Store

# others
example
platform
tmp
docs
