elm-stuff
.stack-work
node_modules
npm-debug.log
.showit

codemirror

.DS_Store
docs
example
lib/scaffold/showit-runtime.js
lib/public/codemirror.js
lib/public/codemirror.css
lib/public/ambiance.css
platform
tmp
